@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    main {
        font-family: "Orbitron", serif;
    }
    body {
        background-color: #121214;
        color: white;
    }
    header {
        font-family: "Audiowide", serif;
        margin-top: 30px;
        margin-left: 10px;
    }
    nav {
        color: #02d7f2;
        width: 100%;
    }
    footer {
        font-family: "Orbitron", serif;
    }
    input:focus,
    textarea:focus,
    select:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

@layer components {
    .logo {
        @apply h-14 w-14;
    }
    .AudioWideBlue {
        font-family: "Audiowide", serif;
        color: #02d7f2;
    }

    .buttonLeft,
    .buttonRight {
        position: relative;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 170px;
        text-decoration: none;
        transition: color 0.3s ease;
        z-index: 1;
        overflow: hidden; /* empêche le ::before de dépasser */
    }

    .buttonLeft {
        background-image: url("../js/assets/img/Bouton_Inscription.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .buttonRight {
        background-image: url("../js/assets/img/Bouton_Connexion4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .buttonLeft::before,
    .buttonRight::before {
        content: "";
        position: absolute;
        inset: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 0;
    }

    .buttonLeft::before {
        background-image: url("../js/assets/img/Bouton_Inscription_Hover.png");
    }

    .buttonRight::before {
        background-image: url("../js/assets/img/Bouton_Connexion4_Hover.png");
    }

    .buttonLeft:hover::before,
    .buttonRight:hover::before {
        opacity: 1;
    }

    /* Le texte est toujours au-dessus des images */
    .buttonLeft span,
    .buttonRight span {
        position: relative;
        z-index: 2;
        transition: color 0.3s ease;
    }

    /* Au survol, le texte devient noir */
    .buttonLeft:hover span,
    .buttonRight:hover span {
        color: black;
    }

    .bgInput {
        background-image: url("../js/assets/img/ConnexionInput.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-family: "Orbitron", serif;
        border: none;
        height: 40px;
        width: 360px;
    }
    .main-container {
        width: 100%;
        min-height: 100vh;
        border: 55px solid transparent;

        border-image-source: url("../js/assets/img/Main_Bordure22.png");
        border-image-slice: 100;
        border-image-width: 1.5;

        border-image-repeat: stretch;

        padding: 10px;
        padding-top: 70px;
        position: relative;
        z-index: 1;
    }

    .footer-link {
        transition: color 0.2s;
    }
    .footer-link:hover {
        color: #8a2be2;
    }

    .title-paragraph {
        font-weight: bold;
        font-size: larger;
    }

    .custom-orderlist .p-orderlist-list {
        max-height: 1000px !important;
        height: auto !important;
        overflow-y: auto;
    }

    .custom-orderlist .p-orderlist-item {
        height: 200px;
    }

    .custom-orderlist .p-orderlist-filter-container {
        background-color: transparent !important;
        border: 2px solid #02d7f2;
        border-radius: 10px;
        width: 30%;
        padding: 2px;
        margin-bottom: 20px;
    }

    .custom-orderlist .p-orderlist-filter-input {
        background-color: transparent !important;
        border: none;
        outline: none;
        color: #ffffff;
        width: 92%;
    }

    .custom-orderlist .p-orderlist-filter-icon {
        color: #02d7f2;
    }

    .custom-orderlist .p-orderlist-item {
        pointer-events: none !important;
    }

    .custom-orderlist .p-orderlist-controls {
        display: none !important;
    }
}
